  <footer class="page-footer pink darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Seonaid Lee</h5> <h6 class = "white-text">M.Sc, B.Ed.</h6>
          <p class="grey-text text-lighten-4">Available for complex thought form wrestling. Meditation instruction, technical specifications, and custom word art.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/seonaid_lee" target = "_blank">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/pub/seonaid-lee/95/7b7/33a" target = "_blank">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://instagram.com/seonaid_lee/" target = "_blank">Instagram</a></li>
            <li><%= link_to "Admin", admin_path, :class => "grey-text text-lighten-4" %><li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      © Seonaid Lee 2015
      <%= link_to "About Me", pages_about_path, :class => "grey-text text-lighten-4 right" %>
      </div>
    </div>
  </footer>