<header>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "My profile", edit_user_registration_path %></li>
      <li><%= link_to "My Projects", myprojects_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
      <li><%= link_to "My profile", edit_user_registration_path %></li>
      <li><%= link_to "My Projects", myprojects_path %></li>
      <li class="divider"></li>
      <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
    </ul>

    <nav class="pink darken-2 z-depth-1">
      <div class="container">
      <div class="nav-wrapper">

        <%= link_to "Seonaid Lee", root_path, :class => "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "All Projects", root_path %></li>
          <% if (!user_signed_in?) %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
              <%= image_tag avatar_url(current_user), class: "circle avatar-small"%> &nbsp;
              <%= current_user.name %>
              <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <% end %>
       </ul>

        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "All Projects", root_path %></li>
           <% if (!user_signed_in?) %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown2">
              <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small" %> &nbsp;
              <%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    </nav>
  </header>