<h1>Projects</h1>

  <div class="row">
    <% @projects.each do |project| %>       
      <div class="col s12 m6 l4">
        <%= link_to project do %>
          <div class="card ">
            <div class="card-image">
              <%= image_tag project.image %>
              <span class="card-title"><%= project.name %></span>
            </div>
            <div class="card-content">
              <p><%= truncate(project.content, :length => 50 )%> </p>
            </div>
            <div class="card-action pink darken-3">
              See Details
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
