@import "materialize";
@import "toastr";

@font-face: {
	font-family: "Moms-Typewriter";
	src: url(app/assets/fonts/moms_typewriter/MomÆt___.ttf);
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .art-text {
  	font-family: "Moms-Typewriter", "Times New Roman", Georgia, Serif
  } /* add a typewriter font here. Sometime when you have time to figure that out. */

.card .card-action{
  color: white;
}

.card .card-action a{
  color: white;
}

.container {
  width: 90%;
}

.avatar-small {
  width: 50px;
}


.avatar-medium {
  width: 80px;
}