<!DOCTYPE html>
<html>
<head>
  <title>Seonaid Lee</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>

  <script src="//load.sumome.com/" data-sumo-site-id="b213f0deed820825cad9af0dc09520edb5d433f44e13a1a7f0305acd6a1ae945" async="async"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64913550-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>

  <%= render partial: "shared/header" %>
  <%= render partial: "shared/message" %>
    

  <main>
    <div class="container">
        <%= yield %>
    </div>
  </main>

  <%= render partial: "shared/footer" %>

<script> 
$(document).ready(function(){
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
});

</script>


</body>
</html>
